<div class="content">

    <div class="right" style="background-image: url({{agent[2]}});">
        <img src="{{agent[0]}}" alt="">
    </div>

    <div class="left">
        <div>
            <h1>{{agent[1]}}</h1>
            <div class="container">
                <p>{{agent[6]}}</p>
                <img src="{{agent[7]}}" alt="" class="smallIcon">
            </div>
            <p style="padding-bottom: 10rem; padding: 1rem;" >{{agent[3]}}</p>
        </div>
        
        <div class="abilities">
            <div class="spell">
                <img src="{{agent[4][0]}}" alt="" class="icon">
                <p>{{agent[5][0]}}</p>
            </div>
            <div class="spell">
                <img src="{{agent[4][1]}}" alt="" class="icon">
                <p>{{agent[5][1]}}</p>
            </div>
            <div class="spell">
                <img src="{{agent[4][2]}}" alt="" class="icon">
                <p>{{agent[5][2]}}</p>
            </div>
            <div class="spell">
                <img src="{{agent[4][3]}}" alt="" class="icon">
                <p>{{agent[5][3]}}</p>
            </div>
        </div>

        <div class="description">

        </div>
    </div>



</div>
