<form (submit)="submitBook()">
    <div class="field">
        <label for="name">Title</label>
        <input type="text" name="name" id="name" [(ngModel)]="author.name" class="authorForm">  
    </div>
    <div class="field">
        <label for="lastname">author</label>
        <input type="text" name="lastname" id="lastname" [(ngModel)]="author.lastname">
    </div>
    <div>
        <button type="button" routerLink="..">Cancel</button>
        <button type="submit">Save</button>
    </div> 

</form>