#title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

#home { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#book {
    height: 10rem;
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .author {
        font-size: 1rem;
        font-weight: bold;
    }
    opacity: 0.8;
}

#error {
    color: lightcoral;
}