<div class="body">

    <div class="header">
        <h1>Valorant.io</h1>
        <div class="sousHeader">
            <h2 [routerLink]="['/home']" class="title" >agent</h2>
            <h2 [routerLink]="['/map']" class="title" >map</h2>
            <h2 [routerLink]="['/games']" class="title" >games</h2>
        </div>
    </div>

    <div id="content">

            <div class="map" [routerLink]="['/games/skin']">
                <img src="https://media.valorant-api.com/weaponskins/5b43d27b-419c-f2bc-53fe-d7829dad46b3/displayicon.png" alt="">
                <h1>Guess The SKin</h1>
                <p>One random skin from valorant, will you guess it ? </p>
            </div>

            <div class="map" [routerLink]="['/games']">
                <img src="https://media.valorant-api.com/agents/1e58de9c-4950-5125-93e9-a0aee9f98746/abilities/grenade/displayicon.png" alt="">
                <h1>Guess The Ability</h1>
                <p>Guess The Ability name and to wich agent it belongs !</p>
            </div>
    </div>
</div>
